# =====================================================================
# Explainable AI for Iris Liveness Detection - .gitignore
# =====================================================================

# 1. Ignore large Datasets (Do not upload raw biometric data to GitHub)
Explainable-AI-Iris-Liveness/data/raw/
Explainable-AI-Iris-Liveness/data/processed/
*.zip
*.tar.gz
*.rar

# 2. Ignore heavy Deep Learning Model Checkpoints
Explainable-AI-Iris-Liveness/models/checkpoints/
*.pth
*.pt
*.pkl
*.h5

# 3. Ignore Python environment and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# 4. Ignore Google Colab and Jupyter Notebook temporary checkpoints
.ipynb_checkpoints/
.virtual_documents/

# 5. Ignore local OS specific files
.DS_Store
Thumbs.db
